<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>临沂职业学院志愿者登陆</title>
<link href="__STATIC__/home/login/css/style_log.css" rel="stylesheet" type="text/css">
<script src="__STATIC__/home/regsite/js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.2/layer.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="./Wopop_files/style.css"> -->
</head>
<body class="login" mycollectionplug="bind"style="background:url(__STATIC__/home/login/image/a.jpg)">
<div class="login_m">
<div class="login_logo fonts">临沂职业学院志愿者登陆</div>
<div class="login_boder">

<div class="login_padding" id="login_model">
   <form method="post" id="form1">
  <h2>用户名</h2>
  <label>
    <input type="text" id="username" name="user" class="txt_input txt_input2" placeholder="请输入用户名">
  </label>
  <h2>密码</h2>
  <label>
    <input type="password" name="password" id="userpwd" class="txt_input" placeholder="请输入密码">
  </label>
  <p class="forgot"></p>
  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
    <label>
      <input type="button" class="sub_button"  id="button" value="登录" style="opacity: 0.7;">
    </label>
  </form>
  </div>
</div>
</body></html>
<script>
  $('.sub_button').click(function(){
    $.ajax({
      url:"{:url('Login/do_login')}",
      type:"post",
      data:$('#form1').serialize(),
      success:function(res){
        var result=JSON.parse(res);
			  if(result.code==0){
          layer.msg("用户名错误",{time:3000});
        }
        if(result.code==1){
          layer.msg("登录成功",{time:3000},function(){
            location.href="{:url('news/news')}"
          });
         
        }
        if(result.code==2){
          layer.msg("密码错误",{time:3000});
        }
        
      }
    })
    
  })
</script>