{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file="form" /}
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add,recyclebin" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            {include file="th" /}
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        
        {foreach name='$info' id='vo'}
        <tr class="text-c" cid='{$vo.id}' pid='{$vo.pid}'>
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.codes|high_light=$Request.param.codes}</td>
            <td style="text-align:left"><i style="cursor:pointer;" class="Hui-iconfont x-show" status='true' >&#xe6a1;</i>&nbsp;&nbsp;{$vo.catname|high_light=$Request.param.catname}</td>
            <td class="f-14">
                <a title="编辑" href="javascript:;" onclick="layer_open('编辑','{:\\think\\Url::build(\'edit\',[\'id\'=>$vo[\'id\']])}')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>          
                <a title="删除" href="javascript:;" onclick="tdel(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
            </td>
        </tr>
        {foreach name='$vo.secondlist' id='sec'}
        <tr class="text-c" cid='{$sec.id}' pid='{$sec.pid}'>
                <td><input type="checkbox" name="id[]" value="{$sec.id}"></td>
                <td>{$sec.codes|high_light=$Request.param.codes}</td>
                <td style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i style="cursor:pointer;" class="Hui-iconfont x-show" status='true' >&#xe6a1;</i>&nbsp;{$sec.catname|high_light=$Request.param.catname}</td>
                <td class="f-14">
                    <a title="编辑" href="javascript:;" onclick="layer_open('编辑','{:\\think\\Url::build(\'edit\',[\'id\'=>$sec[\'id\']])}')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="tdel(this,'{$sec.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
        </tr>
        {foreach name='$sec.thirdlist' id='thr'}
        <tr class="text-c" cid='{$thr.id}' pid='{$thr.pid}' ppid='{$vo.id}'>
                <td><input type="checkbox" name="id[]" value="{$thr.id}"></td>
                <td>{$thr.codes|high_light=$Request.param.codes}</td>
                <td style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--{$thr.catname|high_light=$Request.param.catname}</td>
                <td class="f-14">
                    <a title="编辑" href="javascript:;" onclick="layer_open('编辑','{:\\think\\Url::build(\'edit\',[\'id\'=>$thr[\'id\']])}')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    {tp:menu menu='ndelete' /}
                </td>
        </tr>
        {/foreach}
        {/foreach}
        {/foreach}
       
        </tbody>
    </table>
    <!-- <div class="page-bootstrap">{$page ?? ''}</div> -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
         // 栏目多级显示效果
        
    $('.x-show').click(function () {
        if($(this).attr('status')=='true'){
            $(this).html('&#xe600;'); 
            $(this).attr('status','false');
            cateId = $(this).parents('tr').attr('cid'); 

            $("tbody tr[pid="+cateId+"]").fadeOut().find('.x-show').attr('status','false');
            $("tbody tr[ppid="+cateId+"]").fadeOut();
       }else{
            cateIds = [];
            $(this).html('&#xe6a1;');
            $(this).attr('status','true');
            cateId = $(this).parents('tr').attr('cid');
            getCateId(cateId);
            for (var i in cateIds) {
                $("tbody tr[cid="+cateIds[i]+"]").fadeIn().find('.x-show').html('&#xe6a1;').attr('status','true');
            }
       }
    })
    
                    
    function tdel(obj, id) {
    // _del(obj, id, url, '您确定要把此条数据放入回收站？', fn);

        //   alert(id);
          layer.confirm('确认删除吗?',function (index) {
              $.ajax({
                 url:"{:url('tdel')}",
                 type:'get',
                 data:{id:id,flag:1},
                 success:function (res) {
                    // alert(res);
                     if (res.code==2){
                          $(obj).parent('tr').remove();
                         layer.msg('已删除',{icon: 1,time:1000});
                     } else {
                         layer.confirm('该分类下尚有子分类,确定全部删除吗',function (index) {
                             $.ajax({
                                 url:"{:url('tdel')}",
                                 type: 'get',
                                 data:{id:id,flag: 2},
                                 success:function (res) {
                                  $(obj).parent("tr").remove();
                                     $('tr').each(function (i,v) {
                                         for (var i=0;i<res.childid.length;i++){
                                             if ($(this).attr('cid')==res.childid[i] || $(this).attr('pid')==res.childid[i]){
                                                 $(this).remove();
                                             }
                                         }
                                     })
                                     layer.msg('已删除!',{icon:1,time:1000});
                                 }
                             })
                         })
                     }
                 }
              });
          })

      }


var cateIds = [];
function getCateId(cateId) {
    
    $("tbody tr[pid="+cateId+"]").each(function(index, el) {
        id = $(el).attr('cid');
        cateIds.push(id);
        getCateId(id);
    });
}
    </script>
</div>
{/block}

