{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <input type="hidden" name="condition" value="1">
        <div style="margin-left: 200px;margin-bottom: -10px;border: 0px solid;width: 132px;border-radius: 120px;background: #c3c3c3;color: #fff">&nbsp;&nbsp;Particulars / 详情</div>
        <div class="row cl"style="border-top: 2px solid #c3c3c3;width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;margin-top: 10px">现场照片：</label>
            <div class="formControls col-xs-6 col-sm-6"style="margin-top: 10px">
                <img width="200px" src="{if $vo.images eq ''}\static\admin\images\5abd0172fb1966040afe7f2e5c313d4d.jpg{else}{$vo.images}{/if}">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" class="row cl" style="width: 700px;margin-left: 200px;" >
            <label class="form-label col-xs-3 col-sm-3" style="color: blue">学生姓名：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {$list.name ?? ''}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;">活动方案：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {$list.theme ?? ''}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;"><span class="c-red">*</span>二级学院：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {$list.catname ?? ''}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;"><span class="c-red">*</span>感悟内容：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <text name="content">{$vo.content ?? ''}</text>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;">学生审核人员：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {if $vo.sec_ass_status eq 0}未审核{else}{$vo.sec_assessor}{/if}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;">学生审核日期：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {if $vo.sec_ass_status eq 0}未审核{else}{$vo.sec_ass_date}{/if}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;">二级学院审核状态：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {$vo.sec_ass_status?'已审核':'未审核'}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;">审核人员：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {if $vo.ass_status eq 0}未审核{else}{$vo.assessor}{/if}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;">审核日期：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {if $vo.ass_status eq 0}未审核{else}{$vo.ass_date}{/if}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl" style="width: 700px;margin-left: 200px;">
            <label class="form-label col-xs-3 col-sm-3" style="color: blue;">审核状态：</label>
            <div class="formControls col-xs-6 col-sm-6">
                {$vo.ass_status?'已审核':'未审核'}
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function () {
        $("[name='status'][value='{$vo.status ?? ''}']").prop("checked", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
