<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="岗位id" name="id" value="{$Request.param.id}" >
    <input type="text" class="input-text" style="width:250px" placeholder="岗位名称" name="pname" value="{$Request.param.pname}" >
    <input type="text" class="input-text" style="width:250px" placeholder="所属分类" name="pid" value="{$Request.param.pid}" >
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>